body{
    background-color: gray;
    background-image: url("../images/grey_wash_wall.png");
    height:100%;
}
header{
    border-bottom: 2px solid #66ffff;
}
img{
    width:100%;height:auto;
}
.card{
    cursor:pointer;
    width:100%;
}
.col-md-2{
    min-width: 150px;
}